<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-4 text-white mb-0">
      
      FrozenPork
    </h1>
    <ul class="nav nav-pills ms-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/register"><i class="bi bi-house"></i> SIGN UP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><i class="bi bi-house"></i> SIGN IN</a>
      </li>
    </ul>
  
  </div>

</header>
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">

    <ul class="nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="bi bi-house"></i> หน้าหลัก</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">สินค้าทั้งหมด</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/price">ราคาเนื้อหมู</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shipment">บริการจัดส่ง</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">ติดต่อเรา</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">เกี่ยวกับเรา</a>
      </li>
    </ul>
  </header>
</div>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>