<header class="bd-header py-3 d-flex align-items-stretch border-bottom border-dark" style="background-color: #ff4949;">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-4 text-white mb-0">
      FrozenPork  <i class="bi bi-piggy-bank ms-2"></i>
    </h1>

    

    <ul class="nav nav-pills ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" style="color: #ffffff;"><i class="bi bi-box-arrow-in-right"></i> SIGNUP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" style="color: #ffffff;"><i class="bi bi-box-arrow-in-right"></i> LOGIN</a>
      </li>
    </ul>
  </div>
</header>
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-house"></i> หน้าหลัก
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-basket2"></i> สินค้าทั้งหมด
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/price" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-tag-fill"></i> ราคาเนื้อหมู
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shipment" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-truck"></i> บริการจัดส่ง
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-person-lines-fill"></i> ติดต่อเรา
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-person-rolodex"></i> เกี่ยวกับเรา
        </a>
      </li>
      <li class="cart">
        <a class="cart-link" routerLink="/cart-page">
          <i class="bi bi-cart"></i> ตระกร้า
        </a>
      </li>
    </ul>
  </header>
</div>



<div class="container mt-4">
  <router-outlet></router-outlet>
</div>